body {
	margin:0px;
	padding:0px;
	border:none;
}

#navbar{
	height:50px;
	background-color: #7A7A7A;
	color:white;
	margin:0px;
	padding:0px;
	border:none;
	margin-left:0px;
    margin-top:0px;
	vertical-align:middle;
	z-index:-1;
} 

input {
	width:150px;
	margin:0px;
	height: 25px;
	font-family: "verdana";
	display:inline;
	float:right;
	position:relative;
	left:-110px;
	margin-right:5px;
	vertical-align:middle;
	margin:8px;
}

button {
	position:absolute;
	font-family: "cursive";
	font-style:italic;
	font-weight:bold;
	color:white;
	font-size:17px;
	right:0px;
	border-radius:0px;
	height:50px;
	margin:0px;
	border:none;
	background-color: #333333;
	display:inline;
	float:right;
	padding-right:20px;
	padding-left:20px;
	margin:0px;
}

#playList{
	display:inline;
	margin-left:8px;
	padding-top:8px;
	border:none;
	position:absolute;
	float:left;
}

.player{
	display:inline;
	margin-left:8px;
	padding-left:8px;
	border:none;
	position:absolute;
	float:left;
	top:8px;
}


#search{
	display:inline;
}
#logo {
	float:left;
	font-family: "Verdana";
	font-size:24px;
	color:white;
	height:42px;
	display:inline;
	background-color: #333333;
	margin-left:0px;
	margin-right:0px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
}

p{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	margin-left:8px;
}

canvas{
	overflow: visible;
	z-index:1;
}

#resource{
	position:fixed;
	right:0px;
	bottom:0px;
	
}
button:hover{
	background-color: #1C1C1C;
}

#logo:hover{
	background-color: #1C1C1C;
}

#pic{
	height:50px;
	width:50px;
}
